<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Recover password</title>
  </head>
  <body>
    <h2>Hello <span th:text="${name}">User</span></h2>

    <p></p>

    <p>Click the button to change the password:</p>

    <a
      th:href="${link}"
      style="
        background: #2563eb;
        color: white;
        padding: 10px 16px;
        text-decoration: none;
        border-radius: 6px;
      "
    >
      Change password
    </a>

    <p>This link expires in<span th:text="${hours}">X</span> hours.</p>
  </body>
</html>
